{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Destinations</title>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="/destinations/new/">Create Destination</a>
</nav>

{% for destination in destinations %}
    <a href="/destinations/{{ destination.id }}/">
        <div class="dest-card">
            <h1>{{ destination.name }}</h1>
            <h2>{{ destination.rating }}</h2>
            <p>{{ destination.review }}</p>
        </div>
    </a>
{% endfor %}

</body>
</html>