{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Destination</title>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>

<h1>Destination</h1>
<form action="/destinations/{{ destination.id }}/" method="post">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{ destination.name }}">

    <label for="rating">Rating:</label>
    <input type="number" id="rating" name="rating" min="1" max="5" value="{{ destination.rating }}">

    <label for="review">Review:</label>
    <input type="text" id="review" name="review" value="{{ destination.review }}">

    <label for="public">Public:</label>
    <input type="checkbox" id="public" name="share_publicly" {% if destination.share_publicly %}checked{% endif %}>

    <input type="submit" value="Submit">
</form>

<form action="/destinations/{{ destination.id }}/destroy/" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>

</body>
</html>